<div class="card card-spacing-reset">
  <div
    class="card-body d-flex align-items-center"
    id="st_gunlukPuantajParmakIzi_cardBody"
  >
    <div class="d-flex gap-6 me-10">
      <img
        [src]="gunlukPuantaj?.kisiFoto"
        class="rounded-4 w-75px h-75px object-fit-cover"
      />
      <div class="d-flex flex-column justify-content-center">
        <span class="fs-6 fw-bold">{{
          gunlukPuantaj?.adi + " " + gunlukPuantaj?.soyadi
        }}</span>
        <div class="d-flex flex-wrap gap-6 fs-8 text-muted">
          <span
            >{{
              "InsanKaynaklari.Personeller.PersonelDetay.SicilNo" | translate
            }}:<span class="ms-1 text-dark">{{
              gunlukPuantaj?.sicilNo
            }}</span></span
          >
          <span
            >{{
              "InsanKaynaklari.Personeller.PersonelDetay.HaklarinBaslangicTarihi"
                | translate
            }}:<span class="ms-1 text-dark">{{
              gunlukPuantaj?.haklarinBaslangicTarihi
            }}</span></span
          >
        </div>
      </div>
    </div>
    <form
      [formGroup]="form"
      class="row row-gap-3 mx-10"
      id="st_gunlukPuantajParmakIzi_cardForm"
    >
      <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ikweb-radio
          valueKey="id"
          displayKey="name"
          [data]="aktifDurumArr"
          formControlName="aktifDurumID"
          (changed)="aktifDurumChange($event)"
        ></ikweb-radio>
      </section>
    </form>

    <button class="btn btn-sm btn-primary">
      {{ "Global.Listele" | translate }}
    </button>

    <button class="btn btn-sm btn-icon ms-auto mb-auto" (click)="dismiss()">
      <i class="fa-solid fa-xmark fs-3"></i>
    </button>
  </div>

  <div
    id="st_gunlukPuantajParmakIzi_scroll"
    data-st-scroll="true"
    data-st-scroll-save-state="false"
    data-st-scroll-height="auto"
    data-st-scroll-wrappers="#st_gunlukPuantajParmakIzi_body"
    data-st-scroll-dependencies="#st_header, #st_toolbar, #st_gunlukPuantajParmakIzi_cardBody, #st_gunlukPuantajParmakIzi_cardForm"
    [attr.data-st-scroll-offset]="_sharedHelper.contentSpacing"
  >
    <lib-mock-grid
      id="st_gunlukPuantajParmakIzi_body"
      #gunlukPuantajParmakIziGrid
    ></lib-mock-grid>
  </div>
</div>
