<div class="card card-spacing-reset">
  <div class="card-body" id="st_ekipmanSayim_cardBody">
    <form [formGroup]="form" class="row row-gap-3">
      <section class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <ikweb-date-picker
          name="tarih"
          label="Puantaj.ProjePuantajlari.EkipmanSayimi.Tarih"
          formControlName="tarih"
        >
        </ikweb-date-picker>
      </section>

      <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ikweb-select
          name="proje"
          label="Puantaj.ProjePuantajlari.EkipmanSayimi.Proje"
          formControlName="proje"
          [data]=""
          valueKey=""
          displayKey=""
        >
        </ikweb-select>
      </section>

      <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ikweb-select
          name="personel"
          label="Puantaj.ProjePuantajlari.EkipmanSayimi.Personel"
          formControlName="personel"
          [data]=""
          valueKey=""
          displayKey=""
        >
        </ikweb-select>
      </section>

      <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ikweb-input
          name="aciklama"
          label="{{
            'Puantaj.ProjePuantajlari.EkipmanSayimi.Aciklama' | translate
          }}"
          formControlName="aciklama"
        >
        </ikweb-input>
      </section>

      <section class="col-xs-12 col-sm-6 col-md-4 col-lg-1 mt-auto">
        <button class="btn btn-sm btn-primary">
          {{ "Global.Listele" | translate }}
        </button>
      </section>
    </form>
  </div>

  <div
    id="st_ekipmanSayim_scroll"
    data-st-scroll="true"
    data-st-scroll-save-state="false"
    data-st-scroll-height="auto"
    data-st-scroll-wrappers="#st_ekipmanSayim_body"
    data-st-scroll-dependencies="#st_header, #st_toolbar, #st_ekipmanSayim_cardBody, #st_ekipmanSayim_footer"
    [attr.data-st-scroll-offset]="_sharedHelper.contentSpacing"
  >
    <lib-mock-grid id="st_ekipmanSayim_body" #ekipmanSayimiGrid></lib-mock-grid>
  </div>

  <div class="card-footer border-0 ms-auto pt-0" id="st_ekipmanSayim_footer">
    <button class="btn btn-sm btn-warning">
      {{ "Global.SaveandSend" | translate }}
    </button>
    <button class="btn btn-sm btn-success">
      {{ "Global.Save" | translate }}
    </button>
  </div>
</div>
