//
// To make future updates easier consider the global variables from _override.scss for current branding in this file.
//

// Primary

$primary: {{primaryColor}};
$primary-inverse: {{contrastColor}};
$primary-active: {{primaryActiveColor}};
$primary-light: {{primaryLightColor}};
$primary-light-dark: {{primaryDarkColor}};
