@infragistics:registry=https://packages.infragistics.com/npm/js-licensed/
//packages.infragistics.com/npm/js-licensed/:_auth=YXBpOjVlNzRxKG5vIGRlc2NyaXB0aW9uKWFiYTIwMjAxMjA4MTQyNzA4YzVmMzUxZGQ0YjUy
//packages.infragistics.com/npm/js-licensed/:username=ayhan.ugur@senkron.net
//packages.infragistics.com/npm/js-licensed/:always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=DF9C9954-D687-4C32-91F6-E8B169E2EEC3
//npm.fontawesome.com/:username=canercan.dev@gmail.com
//npm.fontawesome.com/:alwaysAuth=true
