@infragistics:registry=https://packages.infragistics.com/npm/js-licensed/
//packages.infragistics.com/npm/js-licensed/:_auth=YXBpOjVlNzRxKG5vIGRlc2NyaXB0aW9uKWFiYTIwMjAxMjA4MTQyNzA4YzVmMzUxZGQ0YjUy
//packages.infragistics.com/npm/js-licensed/:username=ayhan.ugur@senkron.net
//packages.infragistics.com/npm/js-licensed/:always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=89074F3F-4C18-4FF3-A60A-077AD80C6A6D
//npm.fontawesome.com/:username=canercan.dev@gmail.com
//npm.fontawesome.com/:alwaysAuth=true
