<div class="d-flex align-items-center" [ngClass]="toolbarButtonMarginClass">
</div>

<div [ngClass]="toolbarSeparatorClass"></div>

<div
  class="d-flex align-items-center"
  *ngIf="user$ | async as _user"
  [ngClass]="toolbarButtonMarginClass"
>
  <div
    class="btn btn-flex align-items-center bg-hover-primary bg-hover-opacity-10 text-hover-primary py-1 ps-1 pe-1 me-n2"
    id="st_topbar_user_trigger"
    data-st-menu-trigger="click"
    data-st-menu-attach="parent"
    data-st-menu-placement="bottom-end"
    data-st-menu-flip="bottom"
    data-st-menu="true"
  >
    <div
      class="d-none d-md-flex flex-column align-items-end justify-content-center me-2 me-md-4"
    >
      <div class="opacity-75 fs-8 fw-semibold lh-1 mb-1">
        {{ _user.firstName }} {{ _user.lastName }}
      </div>
      <span class="fs-8 fw-bold lh-1">{{ departman | titlecase }}</span>
    </div>
    <ikweb-symbol
      class="d-flex w-30px h-30px"
      [type]="'img'"
      size="25px"
      sizemd="30px"
      bgcolor="primary"
      [label1]="_user?.firstName"
      [label2]="_user?.lastName"
    ></ikweb-symbol>
  </div>
  <div
    data-st-menu="true"
    [ngClass]="{
      'p-7 w-md-375px': !(user$ | async),
      'py-4 w-md-275px': (user$ | async),
    }"
    id="st_topbar_user_inner"
    class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-dark menu-state-bg menu-state-primary fw-bold py-4 fs-6 inset-0 inset-md-bottom-end-auto"
  >
    <ikweb-user-inner [innerId]="'st_topbar_user_inner'"></ikweb-user-inner>
  </div>
</div>


<ng-container *ngIf="headerLeft === 'menu'">
  <div
    class="d-flex align-items-center d-lg-none ms-2 me-n3"
    title="Show header menu"
  >
    <div
      class="btn btn-icon btn-sm btn-color-gray-700 btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"
      id="st_header_menu_mobile_toggle"
    >
      <i
        class="fa-solid fa-align-left"
        [ngClass]="toolbarButtonIconSizeClass"
      ></i>
    </div>
  </div>
</ng-container>
