<ng-container *ngIf="user$ | async as _user">
  <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center">
      <ikweb-symbol
        type="img"
        size="50px"
        class="me-5"
        bgcolor="primary"
        [label1]="_user?.firstName"
        [label2]="_user?.lastName"
      >
      </ikweb-symbol>

      <div class="d-flex flex-column">
        <div class="fw-bolder d-flex align-items-center fs-5">
          {{ _user.firstName }} {{ _user.lastName }}
        </div>
      </div>
    </div>
  </div>

  <ikweb-language-country-inner></ikweb-language-country-inner>

  <div class="separator my-2"></div>

  <div class="menu-item px-3">
    <a (click)="logout()" class="menu-link px-5 cursor-pointer">
      {{ "Global.OturumuKapat" | translate }}
    </a>
  </div>

  <div class="separator my-2"></div>

  <div class="menu-item px-5">
    <span class="px-5 fs-7 text-gray-500">Ver: {{ version }}</span>
  </div>
</ng-container>
