<!--begin::Exolore drawer-->
<div
  id="st_help"
  class="bg-body"
  data-st-drawer="true"
  data-st-drawer-name="help"
  data-st-drawer-activate="true"
  data-st-drawer-overlay="true"
  data-st-drawer-width="{default:'350px', 'md': '525px'}"
  data-st-drawer-direction="end"
  data-st-drawer-toggle="#st_help_toggle"
  data-st-drawer-close="#st_help_close"
>
  <!--begin::Card-->
  <div class="card shadow-none rounded-0 w-100">
    <!--begin::Header-->
    <div class="card-header" id="st_help_header">
      <h5 class="card-title fw-bold text-gray-600">Destek Alın</h5>

      <div class="card-toolbar">
        <button
          type="button"
          class="btn btn-sm btn-icon btn-active-color-primary"
          id="st_help_close"
        >
          <i class="si-duotone si-cross-square si-2"
            ><span class="path1"></span><span class="path2"></span
          ></i>
        </button>
      </div>
    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div class="card-body" id="st_help_body">
      <!--begin::Content-->
      <div
        id="st_help_scroll"
        class="hover-scroll-overlay-y"
        data-st-scroll="true"
        data-st-scroll-height="auto"
        data-st-scroll-wrappers="#st_help_body"
        data-st-scroll-dependencies="#st_help_header"
        data-st-scroll-offset="5px"
      >
        <!--begin::Support-->
        <div
          class="rounded border border-dashed border-gray-300 p-6 p-lg-8 mb-10"
        >
          <!--begin::Heading-->
          <h2 class="fw-bolder mb-5">
            <a href="#" class="">destek.flybyglobal.com</a>'dan destek al.
          </h2>
          <!--end::Heading-->

          <!--begin::Description-->
          <div class="fs-5 fw-bold mb-5">
            <span class="text-gray-500"
              >Sorunuza yanıt bulmak ve başkalarına yardım etmek için
              geliştiriciler topluluğumuza katılın.</span
            >
            <a class="explore-link d-none" href="#">FAQs</a>
          </div>
          <!--end::Description-->

          <!--begin::Link-->
          <a href="#" class="btn btn-lg explore-btn-primary w-100">Destek Al</a>
          <!--end::Link-->
        </div>
        <!--end::Support-->

        <!--begin::Link-->
        <div class="d-flex align-items-center mb-7">
          <!--begin::Icon-->
          <div
            class="d-flex flex-center w-50px h-50px w-lg-75px h-lg-75px flex-shrink-0 rounded bg-light-warning"
          >
            <i class="si-duotone si-abstract-27 si-warning si-2x si-lg-3x"
              ><span class="path1"></span><span class="path2"></span
            ></i>
          </div>
          <!--end::Icon-->
          <!--begin::Info-->
          <div class="d-flex flex-stack flex-grow-1 ms-4 ms-lg-6">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column me-2 me-lg-5">
              <!--begin::Title-->
              <a
                href="#"
                class="text-dark text-hover-primary fw-bolder fs-6 fs-lg-4 mb-1"
                >Dökümanlar</a
              >
              <!--end::Title-->
              <!--begin::Description-->
              <div class="text-muted fw-bold fs-7 fs-lg-6">
                Başlamak için kılavuzlardan ve video eğitimlerinden canlı
                demolara ve kod örneklerine kadar.
              </div>
              <!--end::Description-->
            </div>
            <!--end::Wrapper-->
            <i class="si-duotone si-arrow-right si-gray-400 si-2"
              ><span class="path1"></span><span class="path2"></span
            ></i>
          </div>
          <!--end::Info-->
        </div>
        <!--end::Link-->

        <!--begin::Link-->
        <div class="d-flex align-items-center mb-7">
          <!--begin::Icon-->
          <div
            class="d-flex flex-center w-50px h-50px w-lg-75px h-lg-75px flex-shrink-0 rounded bg-light-info"
          >
            <i class="si-duotone si-design-frame si-info si-2x si-lg-3x"
              ><span class="path1"></span><span class="path2"></span
            ></i>
          </div>
          <!--end::Icon-->
          <!--begin::Info-->
          <div class="d-flex flex-stack flex-grow-1 ms-4 ms-lg-6">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column me-2 me-lg-5">
              <!--begin::Title-->
              <a
                href="#"
                routerLink="/"
                class="text-dark text-hover-primary fw-bolder fs-6 fs-lg-4 mb-1"
                >Düzen Oluşturucu</a
              >
              <!--end::Title-->
              <!--begin::Description-->
              <div class="text-muted fw-bold fs-7 fs-lg-6">
                Düzeninizi oluşturun, önizleyin ve sunucu tarafı entegrasyonu
                için HTML'yi dışa aktarın.
              </div>
              <!--end::Description-->
            </div>
            <!--end::Wrapper-->
            <i class="si-duotone si-arrow-right si-gray-400 si-2"
              ><span class="path1"></span><span class="path2"></span
            ></i>
          </div>
          <!--end::Info-->
        </div>
        <!--end::Link-->

        <!--begin::Link-->
        <div class="d-flex align-items-center mb-7">
          <!--begin::Icon-->
          <div
            class="d-flex flex-center w-50px h-50px w-lg-75px h-lg-75px flex-shrink-0 rounded bg-light-danger"
          >
            <i class="si-duotone si-keyboard si-danger si-2x si-lg-3x"
              ><span class="path1"></span><span class="path2"></span
            ></i>
          </div>
          <!--end::Icon-->
          <!--begin::Info-->
          <div class="d-flex flex-stack flex-grow-1 ms-4 ms-lg-6">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column me-2 me-lg-5">
              <!--begin::Title-->
              <a
                href="#"
                class="text-dark text-hover-primary fw-bolder fs-6 fs-lg-4 mb-1"
                >Yenilikler</a
              >
              <!--end::Title-->
              <!--begin::Description-->
              <div class="text-muted fw-bold fs-7 fs-lg-6">
                Kullanıcılarımızın geri bildirimleri göz önünde bulundurularak
                eklenen en son özellikler ve iyileştirmeleri keşfedin.
              </div>
              <!--end::Description-->
            </div>
            <!--end::Wrapper-->
            <i class="si-duotone si-arrow-right si-gray-400 si-2"
              ><span class="path1"></span><span class="path2"></span
            ></i>
          </div>
          <!--end::Info-->
        </div>
        <!--end::Link-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Card-->
</div>
<!--end::Exolore drawer-->
