//
// Z-Index
//

// Responsive icon sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    // Sizes
    @each $name, $value in $zindex-values {
      .z-index#{$infix}-#{$name} {
        z-index: $value;
      }
    }
  }
}

.z-index-10006 {
  ~ .modal-backdrop {
    z-index: 10006 !important;
  }
}

// .modal-backdrop {
//   ~ .z-index-10006 {
//     z-index: 10006 !important;
//   }
// }
// .z-index-10006 {
//   ~ .modal-backdrop {
//     ~ .z-index-10006 {
//       z-index: 10006 !important;
//     }
//     // z-index: 10006 !important;
//   }
// }
