<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-column flex-lg-row flex-column-fluid">
    <div
      class="d-flex d-lg-none flex-lg-row-fluid order-1 order-lg-2 bg-primary"
    >
      <!-- <h1
        class="d-flex text-white fw-bold fs-3x flex-column justify-content-center my-0 py-20 px-10 w-100"
      >
        Merhaba,
        <span class="text-gray-200 fw-semibold fs-3 pt-3"
          >Bilgilerinizi doldurarak giriş yapabilirsiniz.</span
        >
      </h1> -->
      <span
        [inlineSVG]="'assets/misc/pattern-2.svg'"
        class="svg-illustrator position-absolute h-75 w-100 top-0"
      ></span>
      <div
        class="logo-container d-lg-none polygon-logo-wrapper position-relative w-200px h-200px"
      >
        <span
          [inlineSVG]="'assets/misc/pattern-3.svg'"
          class="svg-illustrator position-absolute"
        ></span>
        <img
          alt="Logo"
          [src]="getLogo(logoTypeEnum.LogoText)"
          class="logo w-100px rounded-5 z-index-3"
        />
      </div>
    </div>

    <div
      class="d-flex flex-column flex-column-fluid flex-start flex-md-center p-md-10 z-index-3 order-2 order-lg-0 rounded-6 rounded-lg-0 mt-lg-0 mt-n10 bg-body bg-lg-gray-100 w-100 w-lg-50"
    >
      <div
        class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-100 h-100 h-lg-auto py-10 py-md-5 w-md-375px w-lg-425px"
      >
        <div
          class="d-flex flex-stack flex-lg-center flex-column flex-column-fluid container gap-3 gap-md-0 gap-xl-10"
        >
          <div class="text-start" *ngIf="isLogin">
            <!-- <img alt="Logo" [src]="getLogo(logoTypeEnum.Logo)" class="h-30px h-lg-45px mb-5" /> -->
            <h1
              class="text-gray-900 fs-3x"
              [innerHTML]="'BrandedAuthHeading' | translate"
            ></h1>
          </div>
          <router-outlet></router-outlet>

          <button
            class="btn btn-flex btn-link btn-color-gray-700 btn-active-color-primary rotate fs-base"
            data-st-menu-trigger="click"
            data-st-menu-placement="top-start"
          >
            <span class="symbol symbol-2by3 symbol-flag me-2 lh-1">
              <img
                class="object-fit-cover"
                [src]="
                  _sharedHelper.getCountryFlags(
                    (currentLanguage ?? '').slice(-2)
                  )
                "
              />
            </span>

            <span class="me-2">{{
              "Global." + currentLanguage | translate
            }}</span>

            <span class="d-flex flex-center rotate-180">
              <i class="fa-solid fa-chevron-down fs-9 text-muted m-0"></i
            ></span>
          </button>

          <div
            class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-dark menu-state-bg menu-state-primary fw-bold py-4 w-md-275px fs-6 inset-0 inset-md-bottom-end-auto"
            data-st-menu="true"
            id="st_auth_lang_menu"
          >
            <div
              *ngFor="let language of languages"
              (click)="setLanguage(language)"
              class="menu-item px-3 cursor-pointer"
            >
              <a
                class="menu-link d-flex px-5"
                [ngClass]="currentLanguage === language ? 'active' : ''"
              >
                <span class="symbol symbol-2by3 symbol-flag me-4 lh-1">
                  <img
                    class="object-fit-cover"
                    [src]="
                      _sharedHelper.getCountryFlags((language ?? '').slice(-2))
                    "
                  />
                </span>
                <span data-st-element="lang-name">{{
                  "Global." + language | translate
                }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="hasAuthBg; else elseTemplate">
      <div
        class="d-none d-lg-flex flex-lg-row-fluid w-50 bgi-size-100 bgi-no-repeat overlay overflow-hidden"
        [style.background-image]="'url(' + authBG + ')'"
      >
        <div
          class="overlay-layer bg-light bg-opacity-25 opacity-100 z-index-3"
        ></div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="d-none d-lg-flex flex-lg-row-fluid w-50 bg-primary">
        <span
          [inlineSVG]="'assets/misc/pattern-2.svg'"
          class="svg-illustrator position-absolute h-100 w-50 end-0"
        ></span>
        <div
          class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100"
        >
          <div
            class="logo-container polygon-logo-wrapper position-relative w-xl-450px h-xl-450px w-250px h-250px"
          >
            <span
              [inlineSVG]="'assets/misc/pattern-3.svg'"
              class="logo-bg-shape"
            ></span>
            <img
              alt="Logo"
              [src]="getLogo(logoTypeEnum.Logo)"
              class="logo logo-inside rounded-4"
            />
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
