<div class="d-flex align-items-center">
  <div
    class="d-lg-flex d-none btn btn-icon btn-sm btn-color-gray-700 btn-active-light-primary w-30px h-30px w-md-40px h-md-40px rotate"
    data-st-menu-trigger="click"
    data-st-menu-placement="bottom-start"
  >
    <i class="fa-solid fa-align-left rotate-90 fs-3"></i>
  </div>

  <div
    class="menu menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px w-100"
    id="#st_header_menu"
    data-st-menu="true"
    [ngClass]="{
      show: device === 'mobile' || ('tablet' && orientation === 'portrait'),
    }"
  >
    <div class="menu-scroll-wrapper" style="max-height:calc(100vh - 70px);overflow-y:auto;overscroll-behavior:contain;">
      <ng-container *ngIf="menu">
        <ng-container *ngFor="let item of menu; first as isFirst">
          <ng-container
            *ngIf="item.title"
            [ngTemplateOutlet]="menu1LevelTemplate"
            [ngTemplateOutletContext]="{ item: item }"
          >
          </ng-container>
        </ng-container>
      </ng-container>
    </div>

    <ng-template #menu1LevelTemplate let-item="item">
      <ng-container *ngIf="!item.submenu">
        <div class="menu-item" [class.here]="isActive(item.link)">
          <a
            class="menu-link py-1"
            [class.active]="isActive(item.link)"
            (click)="routerLink(item.link)"
          >
            <span class="menu-icon">
              <ng-container *ngIf="icon === 'svg'; else font">
                <span
                  class="svg-icon svg-icon-2"
                  [inlineSVG]="'assets/icons/' + item.icon + '.svg'"
                  [cacheSVG]="true"
                ></span>
              </ng-container>
              <ng-template #font>
                <i [ngClass]="item.icon" class="fs-6"></i>
              </ng-template>
            </span>
            <span class="menu-title text-start fs-7">
              {{ item.title | translate }}
            </span>
            <span class="menu-badge" *ngIf="item.badge">
              <span class="badge badge-light-success">{{
                item.badge | translate
              }}</span>
            </span>
          </a>
        </div>
      </ng-container>

      <ng-container *ngIf="item.submenu && item.indention">
        <div
          data-st-menu-trigger="click"
          class="menu-item menu-accordion menu-sub-indention"
        >
          <span class="menu-link py-1" [attr.data-link]="item.link">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">{{
              item.title | translate
            }}</span>
            <span class="menu-arrow"></span>
          </span>
          <div
            class="menu-sub menu-sub-accordion"
            st-hidden-height="177"
            style="display: none; overflow: hidden"
          >
            <ng-container
              *ngFor="let sub of item.submenu"
              [ngTemplateOutlet]="menuItemIndentionTemplate"
              [ngTemplateOutletContext]="{ item: sub }"
            >
            </ng-container>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="item.submenu && !item.indention">
        <div
          class="menu-item menu-lg-down-accordion me-lg-1"
          data-st-menu-trigger="{default:'click', lg: 'hover'}"
          data-st-menu-placement="right-start"
          [ngClass]="calculateMenuItemHereClass(item)"
        >
          <span
            class="menu-link py-1"
            [ngClass]="calculateMenuItemCssClass(item)"
            [attr.data-link]="item.link"
          >
            <span class="menu-icon">
              <ng-container *ngIf="icon === 'svg'; else font">
                <span
                  class="svg-icon svg-icon-2"
                  [inlineSVG]="'assets/icons/' + item.icon + '.svg'"
                  [cacheSVG]="true"
                ></span>
              </ng-container>
              <ng-template #font>
                <i [ngClass]="item.icon" class="fs-6"></i>
              </ng-template>
            </span>
            <span class="menu-title text-start fs-7">
              {{ item.title | translate }}
            </span>
            <span class="menu-arrow"></span>
            <span class="menu-badge" *ngIf="item.badge">
              <span class="badge badge-light-success">{{
                item.badge | translate
              }}</span>
            </span>
          </span>
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-275px"
            data-st-menu-dismiss="false"
            style="max-height:calc(100vh - 100px);overflow-y:auto;will-change:auto;"
          >
            <ng-container
              *ngFor="let sub of item.submenu"
              [ngTemplateOutlet]="menu2LevelTemplate"
              [ngTemplateOutletContext]="{ item: sub }"
            >
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #menu2LevelTemplate let-item="item">
      <ng-container *ngIf="!item.submenu">
        <div class="menu-item me-lg-1" [class.here]="isActive(item.link)">
          <a
            class="menu-link py-1"
            [class.active]="isActive(item.link)"
            (click)="routerLink(item.link)"
          >
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">
              {{ item.title | translate }}
            </span>
          </a>
        </div>
      </ng-container>

      <ng-container *ngIf="item.submenu && item.indention">
        <div
          data-st-menu-trigger="click"
          class="menu-item menu-accordion menu-sub-indention"
          [ngClass]="calculateMenuItemHereClass(item)"
        >
          <span class="menu-link py-1" [attr.data-link]="item.link">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">{{
              item.title | translate
            }}</span>
            <span class="menu-arrow"></span>
          </span>
          <div
            class="menu-sub menu-sub-accordion"
            st-hidden-height="177"
            style="display: none; overflow: hidden"
          >
            <ng-container
              *ngFor="let sub of item.submenu"
              [ngTemplateOutlet]="menuItemIndentionTemplate"
              [ngTemplateOutletContext]="{ item: sub }"
            >
            </ng-container>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="item.submenu && !item.indention">
        <div
          class="menu-item menu-lg-down-accordion me-lg-1"
          data-st-menu-trigger="{default:'click', lg: 'hover'}"
          data-st-menu-placement="right-start"
          [ngClass]="calculateMenuItemHereClass(item)"
        >
          <span
            class="menu-link py-1"
            [ngClass]="calculateMenuItemCssClass(item)"
            [attr.data-link]="item.link"
          >
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">{{
              item.title | translate
            }}</span>
            <span class="menu-arrow"></span>
          </span>
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-275px"
            data-st-menu-dismiss="false"
            style="max-height:calc(100vh - 100px);overflow-y:auto;"
          >
            <ng-container
              *ngFor="let sub of item.submenu"
              [ngTemplateOutlet]="menu3LevelTemplate"
              [ngTemplateOutletContext]="{ item: sub }"
            >
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #menu3LevelTemplate let-item="item">
      <ng-container *ngIf="!item.submenu">
        <div class="menu-item me-lg-1" [class.here]="isActive(item.link)">
          <a
            class="menu-link py-1"
            [class.active]="isActive(item.link)"
            (click)="routerLink(item.link)"
          >
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">
              {{ item.title | translate }}
            </span>
          </a>
        </div>
      </ng-container>

      <ng-container *ngIf="item.submenu && item.indention">
        <div
          data-st-menu-trigger="click"
          class="menu-item menu-accordion menu-sub-indention"
        >
          <span class="menu-link py-1">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">{{
              item.title | translate
            }}</span>
            <span class="menu-arrow"></span>
          </span>
          <div
            class="menu-sub menu-sub-accordion"
            st-hidden-height="177"
            style="display: none; overflow: hidden"
          >
            <ng-container
              *ngFor="let sub of item.submenu"
              [ngTemplateOutlet]="menuItemIndentionTemplate"
              [ngTemplateOutletContext]="{ item: sub }"
            >
            </ng-container>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="item.submenu && !item.indention">
        <div
          class="menu-item menu-lg-down-accordion me-lg-1"
          data-st-menu-trigger="{default:'click', lg: 'hover'}"
          data-st-menu-placement="right-start"
          [ngClass]="calculateMenuItemHereClass(item)"
        >
          <span
            class="menu-link py-1"
            [ngClass]="calculateMenuItemCssClass(item)"
            [attr.data-link]="item.link"
          >
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">{{
              item.title | translate
            }}</span>
            <span class="menu-arrow"></span>
          </span>
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-275px"
            data-st-menu-dismiss="false"
            style="max-height:calc(100vh - 100px);overflow-y:auto;"
          >
            <ng-container
              *ngFor="let sub of item.submenu"
              [ngTemplateOutlet]="menu4LevelTemplate"
              [ngTemplateOutletContext]="{ item: sub }"
            >
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #menu4LevelTemplate let-item="item">
      <ng-container *ngIf="!item.submenu">
        <div class="menu-item me-lg-1" [class.here]="isActive(item.link)">
          <a class="menu-link py-1" [class.active]="isActive(item.link)">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" (click)="routerLink(item.link)">
              {{ item.title | translate }}
            </span>
          </a>
        </div>
      </ng-container>

      <ng-container *ngIf="item.submenu && item.indention">
        <div
          data-st-menu-trigger="click"
          class="menu-item menu-accordion menu-sub-indention"
        >
          <span class="menu-link py-1">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">{{
              item.title | translate
            }}</span>
            <span class="menu-arrow"></span>
          </span>
          <div
            class="menu-sub menu-sub-accordion"
            st-hidden-height="177"
            style="display: none; overflow: hidden"
          >
            <ng-container
              *ngFor="let sub of item.submenu"
              [ngTemplateOutlet]="menuItemIndentionTemplate"
              [ngTemplateOutletContext]="{ item: sub }"
            >
            </ng-container>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="item.submenu && !item.indention">
        <div
          class="menu-item menu-lg-down-accordion me-lg-1"
          data-st-menu-trigger="{default:'click', lg: 'hover'}"
          data-st-menu-placement="right-start"
          [ngClass]="calculateMenuItemHereClass(item)"
        >
          <span
            class="menu-link py-1"
            [ngClass]="calculateMenuItemCssClass(item)"
            [attr.data-link]="item.link"
          >
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">{{
              item.title | translate
            }}</span>
            <span class="menu-arrow"></span>
          </span>
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-275px"
            data-st-menu-dismiss="false"
            style="max-height:calc(100vh - 100px);overflow-y:auto;"
          >
            <ng-container
              *ngFor="let sub of item.submenu"
              [ngTemplateOutlet]="menu4LevelTemplate"
              [ngTemplateOutletContext]="{ item: sub }"
            >
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #menu5LevelTemplate let-item="item">
      <ng-container *ngIf="!item.submenu">
        <div class="menu-item me-lg-1" [class.here]="isActive(item.link)">
          <a class="menu-link py-1" [class.active]="isActive(item.link)">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" (click)="routerLink(item.link)">
              {{ item.title | translate }}
            </span>
          </a>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #menuItemIndentionTemplate let-item="item" let-first="first">
      <div class="menu-item" [class.here]="isActive(item.link)">
        <a class="menu-link py-1" [class.active]="isActive(item.link)">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title text-start" (click)="routerLink(item.link)">
            {{ item.title | translate }}
          </span>
        </a>
      </div>
    </ng-template>
  </div>
</div>
