<!--begin::Menu wrapper-->
<div class="d-flex align-items-center">
  <!--begin::Toggle-->
  <div class="d-lg-flex d-none
    btn btn-icon btn-sm btn-color-gray-700 btn-active-light-primary
    w-30px
    h-30px
    w-md-40px
    h-md-40px rotate" data-st-menu-trigger="click" data-st-menu-placement="bottom-start">
    <i class="fa-solid fa-align-left rotate-90 fs-3"></i>
  </div>
  <!--end::Toggle-->

  <!-- Menu -->
  <div class="
      menu menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
      py-lg-4
      w-lg-225px
      w-100
    " id="#st_header_menu" data-st-menu="true" [ngClass]="{ show: device === 'mobile' || 'tablet' && orientation === 'portrait' }">

    <!--begin::Menu Container-->
    <ng-container *ngIf="menu">
      <ng-container *ngFor="let item of menu; first as isFirst">
        <ng-container *ngIf="item.title" [ngTemplateOutlet]="menu1LevelTemplate" [ngTemplateOutletContext]="{ item: item }">
        </ng-container>
      </ng-container>
    </ng-container>
    <!--end::Menu Container-->

    <!-- begin::1 Level -->
    <ng-template #menu1LevelTemplate let-item="item">
      <!-- begin::if don't have submenu -->
      <ng-container *ngIf="!item.submenu">
        <div class="menu-item" routerLinkActive="here">
          <!--begin:Menu link-->
          <a class="menu-link py-3" routerLinkActive="active" [routerLink]="'/' + item.link">
            <span class="menu-icon">
              <ng-container *ngIf="icon === 'svg' else font">
                <span class="svg-icon svg-icon-2" [inlineSVG]="'assets/icons/' + item.icon + '.svg'" [cacheSVG]="true"></span>
              </ng-container>
              <ng-template #font>
                <i [ngClass]="item.icon" class="fs-3"></i>
              </ng-template>
            </span>
            <span class="menu-title text-start">
              {{ item.title | translate }}
            </span>
            <span class="menu-badge" *ngIf="item.badge">
              <span class="badge badge-light-success">{{ item.badge | translate }}</span>
            </span>
          </a>
          <!--end:Menu link-->
        </div>
      </ng-container>
      <!-- end::if don't have submenu -->

      <!-- begin::if has submenu indention -->
      <ng-container *ngIf="item.submenu && item.indention">
        <div data-st-menu-trigger="click" class="menu-item menu-accordion menu-sub-indention">
          <!--begin:Menu link-->
          <span class="menu-link py-3">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" [attr.data-link]="item.link">{{ item.title | translate }}</span>
            <span class="menu-arrow"></span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div class="menu-sub menu-sub-accordion" st-hidden-height="177" style="display: none; overflow: hidden;">
            <ng-container *ngFor="let sub of item.submenu" [ngTemplateOutlet]="menuItemIndentionTemplate" [ngTemplateOutletContext]="{ item: sub }">
            </ng-container>
          </div>
          <!--end:Menu sub-->
        </div>
      </ng-container>
      <!-- end::if has submenu indention -->

      <!-- begin::if has submenu not indention -->
      <ng-container *ngIf="item.submenu && !item.indention">
        <div class="menu-item menu-lg-down-accordion me-lg-1" data-st-menu-trigger="{default:'click', lg: 'hover'}"
          data-st-menu-placement="right-start" [ngClass]="calculateMenuItemHereClass(item.link)">
          <!--begin:Menu link-->
          <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass(item.link)">
            <span class="menu-icon">
              <ng-container *ngIf="icon === 'svg' else font">
                <span class="svg-icon svg-icon-2" [inlineSVG]="'assets/icons/' + item.icon + '.svg'" [cacheSVG]="true"></span>
              </ng-container>
              <ng-template #font>
                <i [ngClass]="item.icon" class="fs-3"></i>
              </ng-template>
            </span>
            <span class="menu-title text-start" [attr.data-link]="item.link">
              {{ item.title | translate }}
            </span>
            <span class="menu-arrow"></span>
            <span class="menu-badge" *ngIf="item.badge">
              <span class="badge badge-light-success">{{ item.badge | translate }}</span>
            </span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div class="
              menu-sub
              menu-sub-lg-down-accordion
              menu-sub-lg-dropdown
              menu-rounded-0
              py-lg-4
              w-lg-275px
            " data-st-menu-dismiss="false">
            <ng-container *ngFor="let sub of item.submenu" [ngTemplateOutlet]="menu2LevelTemplate" [ngTemplateOutletContext]="{ item: sub }">
            </ng-container>
          </div>
          <!--end:Menu sub-->
        </div>
      </ng-container>
      <!-- end::if has submenu not indention -->
    </ng-template>
    <!-- end::1 Level -->

    <!-- begin::2 Level -->
    <ng-template #menu2LevelTemplate let-item="item">
      <!-- begin::if don't have submenu -->
      <ng-container *ngIf="!item.submenu">
        <div class="menu-item me-lg-1" routerLinkActive="here">
          <a class="menu-link py-3" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" [routerLink]="item.link">
              {{ item.title | translate }}
            </span>
            <span class="menu-favorite" *ngIf="favorite" (click)="toggleStar($event, item)" [ngClass]="{ active: item.starred }" placement="top"
              [ngbTooltip]="item.starred ? 'Sık Kullanılanlardan Çıkar' : 'Sık Kullanılanlara Ekle'">
              <i class="fa-solid fa-star fs-5"></i>
            </span>
          </a>
        </div>
      </ng-container>
      <!-- end::if don't have submenu -->

      <!-- begin::if has submenu indention -->
      <ng-container *ngIf="item.submenu && item.indention">
        <div data-st-menu-trigger="click" class="menu-item menu-accordion menu-sub-indention" [ngClass]="calculateMenuItemHereClass(item.link)">
          <!--begin:Menu link-->
          <span class="menu-link py-3">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" [attr.data-link]="item.link">{{ item.title | translate }}</span>
            <span class="menu-arrow"></span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div class="menu-sub menu-sub-accordion" st-hidden-height="177" style="display: none; overflow: hidden;">
            <ng-container *ngFor="let sub of item.submenu" [ngTemplateOutlet]="menuItemIndentionTemplate" [ngTemplateOutletContext]="{ item: sub }">
            </ng-container>
          </div>
          <!--end:Menu sub-->
        </div>
      </ng-container>
      <!-- end::if has submenu indention -->

      <!-- begin::if has submenu not indention -->
      <ng-container *ngIf="item.submenu && !item.indention">
        <div class="menu-item menu-lg-down-accordion me-lg-1" data-st-menu-trigger="{default:'click', lg: 'hover'}"
          data-st-menu-placement="right-start" [ngClass]="calculateMenuItemHereClass(item.link)">
          <!--begin:Menu link-->
          <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass(item.link)">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" [attr.data-link]="item.link">{{ item.title | translate }}</span>
            <span class="menu-arrow"></span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div class="menu-sub
          menu-sub-lg-down-accordion
          menu-sub-lg-dropdown
          menu-rounded-0
          py-lg-4
          w-lg-275px" data-st-menu-dismiss="false">
            <ng-container *ngFor="let sub of item.submenu" [ngTemplateOutlet]="menu3LevelTemplate" [ngTemplateOutletContext]="{ item: sub }">
            </ng-container>
          </div>
          <!--end:Menu sub-->
        </div>
      </ng-container>
      <!-- end::if has submenu not indention -->
    </ng-template>
    <!-- end::2 Level -->

    <!-- begin::3 Level -->
    <ng-template #menu3LevelTemplate let-item="item">
      <!-- begin::if don't have submenu -->
      <ng-container *ngIf="!item.submenu">
        <div class="menu-item me-lg-1" routerLinkActive="here">
          <!--begin:Menu link-->
          <a class="menu-link py-3" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" [routerLink]="item.link">
              {{ item.title | translate }}
            </span>
            <span class="menu-favorite" *ngIf="favorite" (click)="toggleStar($event, item)" [ngClass]="{ active: item.starred }" placement="top"
              [ngbTooltip]="item.starred ? 'Sık Kullanılanlardan Çıkar' : 'Sık Kullanılanlara Ekle'">
              <i class="fa-solid fa-star fs-5"></i>
            </span>
          </a>
          <!--end:Menu link-->
        </div>
      </ng-container>
      <!-- end::if don't have submenu -->

      <!-- begin::if has submenu indention -->
      <ng-container *ngIf="item.submenu && item.indention">
        <div data-st-menu-trigger="click" class="menu-item menu-accordion menu-sub-indention">
          <!--begin:Menu link-->
          <span class="menu-link py-3">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">{{ item.title | translate }}</span>
            <span class="menu-arrow"></span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div class="menu-sub menu-sub-accordion" st-hidden-height="177" style="display: none; overflow: hidden;">
            <ng-container *ngFor="let sub of item.submenu" [ngTemplateOutlet]="menuItemIndentionTemplate" [ngTemplateOutletContext]="{ item: sub }">
            </ng-container>
          </div>
          <!--end:Menu sub-->
        </div>
      </ng-container>
      <!-- end::if has submenu indention -->

      <!-- begin::if has submenu not indention -->
      <ng-container *ngIf="item.submenu && !item.indention">
        <div class="menu-item menu-lg-down-accordion me-lg-1" data-st-menu-trigger="{default:'click', lg: 'hover'}"
          data-st-menu-placement="right-start" [ngClass]="calculateMenuItemHereClass(item.link)">
          <!--begin:Menu link-->
          <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass(item.link)">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" [attr.data-link]="item.link">{{ item.title | translate }}</span>
            <span class="menu-arrow"></span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div class="menu-sub
          menu-sub-lg-down-accordion
          menu-sub-lg-dropdown
          menu-rounded-0
          py-lg-4
          w-lg-275px" data-st-menu-dismiss="false">
            <ng-container *ngFor="let sub of item.submenu" [ngTemplateOutlet]="menu4LevelTemplate" [ngTemplateOutletContext]="{ item: sub }">
            </ng-container>
          </div>
          <!--end:Menu sub-->
        </div>
      </ng-container>
      <!-- end::if has submenu not indention -->
    </ng-template>
    <!-- end::3 Level -->

    <!-- begin::4 Level -->
    <ng-template #menu4LevelTemplate let-item="item">
      <!-- begin::if don't have submenu -->
      <ng-container *ngIf="!item.submenu">
        <div class="menu-item me-lg-1" routerLinkActive="here">
          <!--begin:Menu link-->
          <a class="menu-link py-3" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" [routerLink]="item.link">
              {{ item.title | translate }}
            </span>
            <span class="menu-favorite" *ngIf="favorite" (click)="toggleStar($event, item)" [ngClass]="{ active: item.starred }" placement="top"
              [ngbTooltip]="item.starred ? 'Sık Kullanılanlardan Çıkar' : 'Sık Kullanılanlara Ekle'">
              <i class="fa-solid fa-star fs-5"></i>
            </span>
          </a>
          <!--end:Menu link-->
        </div>
      </ng-container>
      <!-- end::if don't have submenu -->

      <!-- begin::if has submenu indention -->
      <ng-container *ngIf="item.submenu && item.indention">
        <div data-st-menu-trigger="click" class="menu-item menu-accordion menu-sub-indention">
          <!--begin:Menu link-->
          <span class="menu-link py-3">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start">{{ item.title | translate }}</span>
            <span class="menu-arrow"></span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div class="menu-sub menu-sub-accordion" st-hidden-height="177" style="display: none; overflow: hidden;">
            <ng-container *ngFor="let sub of item.submenu" [ngTemplateOutlet]="menuItemIndentionTemplate" [ngTemplateOutletContext]="{ item: sub }">
            </ng-container>
          </div>
          <!--end:Menu sub-->
        </div>
      </ng-container>
      <!-- end::if has submenu indention -->

      <!-- begin::if has submenu not indention -->
      <ng-container *ngIf="item.submenu && !item.indention">
        <div class="menu-item menu-lg-down-accordion me-lg-1" data-st-menu-trigger="{default:'click', lg: 'hover'}"
          data-st-menu-placement="right-start" [ngClass]="calculateMenuItemHereClass(item.link)">
          <!--begin:Menu link-->
          <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass(item.link)">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" [attr.data-link]="item.link">{{ item.title | translate }}</span>
            <span class="menu-arrow"></span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div class="menu-sub
            menu-sub-lg-down-accordion
            menu-sub-lg-dropdown
            menu-rounded-0
            py-lg-4
            w-lg-275px" data-st-menu-dismiss="false">
            <ng-container *ngFor="let sub of item.submenu" [ngTemplateOutlet]="menu4LevelTemplate" [ngTemplateOutletContext]="{ item: sub }">
            </ng-container>
          </div>
          <!--end:Menu sub-->
        </div>
      </ng-container>
      <!-- end::if has submenu not indention -->
    </ng-template>
    <!-- end::4 Level -->

    <!-- begin::5 Level -->
    <ng-template #menu5LevelTemplate let-item="item">
      <ng-container *ngIf="!item.submenu">
        <div class="menu-item me-lg-1" routerLinkActive="here">
          <!--begin:Menu link-->
          <a class="menu-link py-3" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title text-start" [routerLink]="item.link">
              {{ item.title | translate }}
            </span>
            <span class="menu-favorite" *ngIf="favorite" (click)="toggleStar($event, item)" [ngClass]="{ active: item.starred }" placement="top"
              [ngbTooltip]="item.starred ? 'Sık Kullanılanlardan Çıkar' : 'Sık Kullanılanlara Ekle'">
              <i class="fa-solid fa-star fs-5"></i>
            </span>
          </a>
          <!--end:Menu link-->
        </div>
      </ng-container>
    </ng-template>
    <!-- end::5 Level -->

    <!-- begin::Indention -->
    <ng-template #menuItemIndentionTemplate let-item="item" let-first="first">
      <!--begin:Menu item-->
      <div class="menu-item" routerLinkActive="here">
        <!--begin:Menu link-->
        <a class="menu-link py-3" routerLinkActive="active">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title text-start" [routerLink]="item.link">
            {{ item.title | translate }}
          </span>
          <span class="menu-favorite" *ngIf="favorite" (click)="toggleStar($event, item)" [ngClass]="{ active: item.starred }" placement="top"
            [ngbTooltip]="item.starred ? 'Sık Kullanılanlardan Çıkar' : 'Sık Kullanılanlara Ekle'">
            <i class="fa-solid fa-star fs-5"></i>
          </span>
        </a>
        <!--end:Menu link-->
      </div>
      <!--end:Menu item-->
    </ng-template>
    <!-- end::Indention -->
  </div>
</div>
