<ikweb-toolbar [backClick]="true" [bc$]="bc$">
  <div action class="d-flex align-items-center">
    <button class="btn btn-sm btn-yellow" (click)="openFilterModal()">
      <span
        ><i class="fa-duotone fa-solid fa-filter-list me-1"></i>
        {{ "Global.Filtre" | translate }}</span
      >
    </button>
  </div>
</ikweb-toolbar>

<div
  class="card card-spacing-reset"
  id="st_yillikIzinRaporu_scroll"
  data-st-scroll="true"
  data-st-scroll-save-state="false"
  data-st-scroll-height="auto"
  data-st-scroll-wrappers="#st_yillikIzinRaporu_body"
  data-st-scroll-dependencies="#st_header, #st_toolbar"
  [attr.data-st-scroll-offset]="_sharedHelper.contentSpacingFull"
>
  <lib-mock-grid
    id="st_yillikIzinRaporu_body"
    #yillikIzinRaporuGrid
  ></lib-mock-grid>
</div>
