//
// To make future updates easier consider the global variables from _override.scss for current branding in this file.
//

// Primary

$primary: #3085fe;
$primary-inverse: #ffffff;
$primary-active: #2877e7;
$primary-light: #dde8fa;
$primary-light-dark: #182435;
