<div
  class="card d-flex flex-column flex-fill h-100 shadow-none rounded-0 w-100 overflow-hidden"
>
  <div class="card-header border-0 align-items-center">
    <span class="fs-4 fw-bold">
      {{ "Global.Filtre" | translate }}
    </span>
    <button class="btn btn-sm btn-icon ms-auto" (click)="dismiss()">
      <i class="fa-solid fa-xmark fs-3"></i>
    </button>
  </div>
  <div class="card-body h-100 overflow-auto">
    <form [formGroup]="form" class="row row-gap-3">
      <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ikweb-input
          name="search"
          placeholder="{{
            'Puantaj.ProjePuantajlari.AylikPuantaj.ParmakIziRaporu.ProjeAdi'
              | translate
          }}"
          formControlName="search"
          [inputGroupType]="'search'"
          [prefix]="true"
          [className]="'searchInput'"
        >
          <ng-container prefix>
            <i class="fa-solid fa-magnifying-glass px-3"></i>
          </ng-container>
        </ikweb-input>
      </section>

      <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ikweb-select
          name="yil"
          label="Puantaj.ProjePuantajlari.AylikPuantaj.ParmakIziRaporu.Yil"
          formControlName="yil"
          [data]=""
          valueKey=""
          displayKey=""
        >
        </ikweb-select>
      </section>

      <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ikweb-select
          name="ay"
          label="Puantaj.ProjePuantajlari.AylikPuantaj.ParmakIziRaporu.Ay"
          formControlName="ay"
          [data]=""
          valueKey=""
          displayKey=""
        >
        </ikweb-select>
      </section>
    </form>
  </div>
  <div class="card-footer border-0">
    <div class="d-flex flex-stack">
      <button class="btn btn-sm btn-yellow">
        {{ "Global.Filtre" | translate }}
      </button>

      <button class="btn btn-sm btn-transparent">
        {{ "Global.Temizle" | translate }}
      </button>
    </div>
  </div>
</div>
