<igx-date-picker
  [type]="inputGroupType"
  [value]="viewDate"
  [mode]="mode"
  [inputFormat]="inputFormat"
  [locale]="_lang.locale.code"
  [formatter]="formatter"
  [(ngModel)]="value"
  [formControl]="control"
  [weekStart]="weekStart"
  [todayButtonLabel]="todayLabel | translate"
  (closed)="dtpClose($event)"
  [readOnly]="readonly"
  [required]="required"
>
  <label igxLabel>{{ label | translate }}</label>
  <igx-picker-toggle [hidden]="readonly" igxSuffix>
    <i class="fa-regular fa-calendar fs-4"></i>
  </igx-picker-toggle>
  <igx-picker-clear> </igx-picker-clear>
</igx-date-picker>
