//
// Symbol
//

@mixin symbol-size($size) {
  > img {
    width: $size;
    height: $size;
  }

  .symbol-label {
    width: $size;
    height: $size;
  }

  &.symbol-fixed {
    .symbol-label {
      width: $size;
      height: $size;
    }

    > img {
      width: $size;
      height: $size;
      max-width: none;
    }
  }

  // Ratios
  &.symbol-2by3 {
    .symbol-label {
      height: $size;
      width: $size * divide(3, 2);
    }

    > img {
      height: $size;
      width: $size * divide(3, 2);
      max-width: none;
    }
  }

  &.symbol-2by4 {
    .symbol-label {
      height: $size;
      width: $size * divide(4, 2);
      border-radius: $border-radius;
    }

    > img {
      height: $size;
      width: $size * divide(4, 2);
      max-width: none;
      border-radius: $border-radius;
    }
  }

  &.symbol-4by2 {
    .symbol-label {
      height: $size;
      width: calc($size / divide(4, 2));
      border-radius: $border-radius-lg;
    }

    > img {
      height: $size;
      width: calc($size / divide(4, 2));
      max-width: auto;
    }
  }

  &.symbol-1by3 {
    .symbol-label {
      height: $size;
      width: calc($size / divide(1, 3));
      border-radius: $border-radius-lg;
    }

    > img {
      height: $size;
      width: calc($size / divide(4, 2));
      max-width: auto;
    }
  }
}
