<div class="d-flex align-items-center px-5 mb-5">
  <button
    class="btn btn-icon btn-sm btn-icon-muted btn-active-light btn-active-color-primary me-3"
    (click)="dismiss($event)"
  >
    <span class="fa-solid fa-xmark fs-3"></span>
  </button>
  <div class="flex-grow-1">
    <span class="text-gray-800 fs-5 fw-semibold">
      {{ "Global.DilDegistir" | translate }}
    </span>
  </div>
</div>

<ng-container [ngTemplateOutlet]="language"></ng-container>

<ng-template #language>
  <cv-language-country-inner></cv-language-country-inner>
</ng-template>
